* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
body {
  width: 100vw;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
  align-items: center;
  background-color: #0f0f0f;
  max-width: 100%;
}
header ul {
  display: flex;
  gap: 60px;
}
header ul li {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
header h2 {
  font-size: 2.3rem;
  color: white;
}
header h2 span {
  color: red;
  /* font-size: 2.3rem; */
}
.section {
  background: linear-gradient(
      to right,
      #bf1e1c,
      rgb(236, 148, 148),
      rgba(255, 0, 0, 0)
    ),
    url(./img/2996.jpg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  display: flex;
  background-size: cover;
  height: 100vh;
}
.section .section-left h1,
p {
  color: white;
}
.section-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20% 7%;
}
.section-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.section-left h1 {
  font-size: 4.1rem;
  font-family: "Poppins" sans-serif;
}
.section-left h1 span {
  color: red;
  font-size: 4rem;
}
.section-left p {
  padding-top: 50px;
  font-size: 2rem;
}
.section-left p span {
  font-weight: bold;
}
.section-right img {
  background-size: cover;
  height: 100vh;
  width: auto;
  position: absolute;
  right: -250px;
}
.section1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 200px 300px;
  align-items: center;
  background-color: #f0f0f0;
}
.section1 marquee {
  padding: 50px 30px;
  display: flex;
}
.section1 img {
  width: 10%;
  padding: 100px 150px;
  background-color: #ffffff;
  margin-left: 20px;
  border-bottom: 5px solid #bf1e1c;
}
.section1 h2 {
  font-size: 2rem;
}
.section1 span {
  color: #bf1e1c;
  font-size: 2rem;
}
.story {
  display: flex;
  padding: 150px 170px;
  gap: 70px;
  background-color: #262e3b;
}
.story-left img {
  border: 15px solid #f42641;
}
.story-right h1 {
  font-size: 8rem;
}
header ul li a {
  text-decoration: none;
  color: #f0f0f0;
}
.story-right span {
  color: #f42641;
}
.ss {
  font-size: 3rem;
}
.story-right .p1,
.p2 {
  padding: 20px 0px;
  font-size: 1.8rem;
  text-align: justify;
}
.img123 {
  position: relative;
  top: 55px;
  font-size: 2rem;
  color: white;
}
.content {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h3 {
  font-size: 2rem;
  text-align: center;
  color: #262e3b;
}
.content span {
  color: #bf1e1c;
}
.ss1 {
  font-size: 2.5rem;
}
.tags {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.tags a {
  text-decoration: none;
  color: #262e3b;
  padding: 20px 0px;
  font-size: 1.4rem;
  display: flex;
}
.icons {
  display: flex;
  gap: 20px;
  padding: 20px 0px;
}
.icons img {
  width: 30px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}
.create {
  color: #262e3b;
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 1.2rem;
}
header ul li a:hover {
  color: #bf1e1c;
  cursor: pointer;
}
footer .tags a:hover {
  color: #bf1e1c;
}
