* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  overflow: hidden;
}

.header-index {
  position: sticky;
  top: 10px;
  left: 2px;
}

.body-index {
  display: flex;
  flex-direction: row;
}

.ul-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 73.7vh;
  background-color: #AAB396;
  margin: 5px;
  padding: 100px 30px;
  width: 8vw;
  color: #674636;
  font-size: 1.3rem;
  cursor: pointer;
}

.ul-index img {
  width: 50px;
  height: 50px;
  background-color: #AAB396;
  border: 5px double #F7EED3;
  border-radius: 20px;
}

.ul-index li::first-letter {
  color: #F7EED3;
  font-size: 1.5rem;
}

.class-index {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.section-index {
  display: flex;
  flex-direction: column;
}

.section-index section {
  width: 97.5vw;
  height: 100vh;
  background-color: #FFF8E8;
  margin: 10px 10px 30px 10px;
  position: relative;
}

p {
  width: 200px;
  height: 200px;
  margin: 20px;
  position: absolute;
  cursor: pointer;
}

.p-index-1 {
  background-color: #987070;
  left: 250px;
  padding: 30px;
  top: 10px;
  z-index: 4;
}

.p-index-2 {
  background-color: #C39898;
  left: 300px;
  padding: 30px;
  top: 50px;
  z-index: 3;
}

.p-index-3 {
  background-color: #DBB5B5;
  left: 350px;
  padding: 30px;
  top: 75px;
  z-index: 2;
}




#div-section-2,
#div-section-1 {
  position: relative;
}

.img-section{
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}


/* Hover effect*/
.section-index #div-section-1 .p-index-2:hover {
  transform: translateX(200px);
  transition: transform 0.5s ease-in-out;
}

.section-index #div-section-1 .p-index-1:hover {
  transform: rotate(-10deg);
  transition: transform 0.5s ease-in-out;
}

.section-index #div-section-1 .p-index-2:hover + .p-index-3 {
  transform: translateX(400px);
  transition: transform 0.5s ease-in-out;
}
.section-index #div-section-1 .p-index-1:hover + .p-index-2 {
  transform: translateX(200px);
  transition: transform 0.5s ease-in-out;
}


.section-index #div-section-1 .p-index-1:hover ~ .p-index-3 {
  transform: translateX(400px);
  transition: transform 0.5s ease-in-out;
}



/* Hover effect div section 2*/

.section-index #div-section-2 .p-index-2:hover {
  z-index: 5;
  transition: transform 0.5s ease-in-out;
}

.section-index #div-section-2 .p-index-1:hover {
  z-index: 5;
  transition: transform 0.5s ease-in-out;
}

.section-index #div-section-2 .p-index-3:hover {
  z-index: 5;
  transition: transform 0.5s ease-in-out;
}

a{
  text-decoration: none;
  color: #674636;
  
}

.ul-index li:hover , 
.ul-index li a:hover{
  color: #F7EED3;
  transition: 0.5s;


}


.ul-index li:hover::first-letter , 
.ul-index li a:hover::first-letter{
  color: #674636;
  transition: 0.5s;
}


.ul-index img:hover{
  border:  5px solid #674636;
  border-radius: 40px;
  transition: 0.5s;
}


.img-section:hover{
  background: linear-gradient(to right, rgb(139, 114, 104) 0%, #ffffff 100%);
  border-radius: 50px;
  transition: 0.5s;
}

/* 
.section-index #div-section-2 .p-index-2:hover + .p-index-3 {
  transform: translateX(400px);
  transition: transform 0.5s ease-in-out;
}
.section-index #div-section-2 .p-index-1:hover + .p-index-2 {
  transform: translateX(200px);
  transition: transform 0.5s ease-in-out;
} */


/* .section-index #div-section-2 .p-index-1:hover ~ .p-index-3 {
  transform: translateX(400px);
  transition: transform 0.5s ease-in-out;
} */



