body {
  background-image: url(./pexels-pixabay-255464.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.container {
  width: 60%;
  margin-top: 25%;
}
table {
  width: 100%;
  border-collapse: collapse;
  /* border: 1px solid black; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
td,
th {
  border: 1px solid rgb(242, 216, 216);
  text-align: center;
  padding: 15px;
  font-size: 28px;
}
/* td {
  font-weight: normal;
}
th {
  font-family: 900;
} */
button {
  padding: 10px 28px;
  border: none;
}
p {
  font-size: 25px;
}
h1 {
  font-size: 40px;
}
table tr {
  background-color: #685c51e4; /* Light gray */
}
table tr:nth-child(odd) {
  background-color: #421e42b8; 
}
.non1{
  display: flex;
}
.cc2{
  position: relative;
  left: 60%;
  top: 80%;
  font-size: medium;
}
.cls2{
  position: relative;
  left: 60%;
  bottom: 39%;
  font-size: large;
}