*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.header {
  display: flex;
  flex-direction: row;
  padding: 15px 80px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(225, 229, 233);
}

.header img {
  width: 80px;
  height: 50px;
}
.header .text {
  display: flex;
  gap: 30px;
}
.p1, .p2 {
  font-size: 1.2rem;
  cursor: pointer;
}
.p2:hover{
  text-decoration: underline; 
}
.p1:hover{
  text-decoration: underline;
}
.hero{
  max-width: 100%;
  height: 80vh;
  padding: 15px 100px;
  background:linear-gradient(rgba(255, 255, 255, 0.197), rgba(0, 0, 0, 0.575)),url(./IMAGE/rendering-anime-doctors-work.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.hero-left{
  flex: 1;

}
.hero-right{
  flex: 1;
}
.hero-left h1{
  font-size: 5rem;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.378);
  color: black;
  padding: 100px;
  border-radius: 30px;
  
}
.hero-right{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero-right p{
  color: rgb(117, 224, 248);
  font-size: 2rem;
  border-radius: 30px;
}
.hero-right p span{
  color: rgb(135, 249, 211);
  cursor: pointer;
}
.hero-right p span:hover{
  text-decoration: underline;
}
.hero-2{
  max-width: 100%;
  height: 60vh;
  background-color: rgb(59, 64, 76);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  
}
.hero-2 h1{
  font-size: 2rem;

}
.hero-2 .p5{
  text-align: center;
  line-height: 28px;
  font-size: 1.1rem;
}
.btn-1{
  width: fit-content;
  padding: 8px 14px;
  font-size: 1rem;
  border-radius: 10px; 
}
.btn-1:hover{
  transform: scale(0.9);
  cursor: pointer;
}
.hero-3 h1{
  padding: 40px 0px;
  font-size: 2rem;
}
.hero-3 .boxes{
  display: flex;
  flex-direction: row;
  gap: 90px;
  flex-wrap: wrap;
  padding: 10px 80px;
  align-items: center;
  justify-content: center;
  cursor: cell;
 

}
.box-main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 40px 30px;
  background-color: rgba(128, 128, 128, 0.334);
  border-radius: 30px;
  

}
.box-main img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}
.box-main h1{
  font-size: 1.2em;
  padding: 5px 0px;
}
.box-main .Lorem{
   text-align: center;
 
  
}
.div{
  font-size: 1.3rem;
  color: rgb(83, 129, 14);
  
}
.box-main .icon{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1.1rem;
  margin-top: 10px;

}
.box-main .icon:hover{
  color: rgb(83, 129, 14);
  cursor: pointer;
  
}
.hero-4 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(59, 64, 76);
  color: white;
  padding: 30px;
}
.hero-4 h1{
  font-size: 1.5rem;
}
.hero-4 i{
  font-size: 1.4rem;
  margin-right: 5px;
}
.hero-4 p{
  margin-top: 10px;
  font-size: 1.1rem;

}
.footer{
  text-align: center;
  padding-bottom: 40px;
  color: #fff;
  background-color: rgb(59, 64, 76);
}

.hero5{
  margin-top: 50px;
  padding: 50px 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(59, 64, 76, 0.16);

}
.hero5-left{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.hero5-left img{
  width: 300px;
  border-radius: 20px;
  box-shadow: 3px 3px 2px 2px rgb(39, 38, 38);
}
.hero5-right{

  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;

}
.hero5-right h1{
  font-size: 1.4rem;
  
}
.hero5-right p{
  font-size: 1.1rem;
}
.hero5-right ul li{
  padding-left: 20px;
  padding-bottom: 2px;
  list-style-position: inside;

}
.hero5-right ul li::marker{
  content: "✔️";
}

.hero6{
  margin-top: 30px;
  padding: 3rem;
  
}
.hero6-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 2rem;
  
}
.hero6-box{
  background-color: rgba(59, 64, 76, 0.16);
}
.hero6-boxs img{
  width: 100%;
}
.hero6-icon{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.hero6-icon i{
  padding: 10px;
  font-size: 1.1rem;
  background-color: #ffffff;
  border-radius: 100px;
  transform: translateY(-20px);

}
.hero6-icon i:hover{
  background-color: rgb(59, 64, 76);
  color: white;
  transition: all 1s;

}
.hero6-img-content{
  text-align: center;
  transform: translateY(-10px);
}

footer{

  
}





