*{
  margin:0;
  padding: 0;
  /* font-family: "Anek Devanagari", sans-serif; */
  /* color: white; */
  
}
body{
  background-color: black;
}
.main-div{
  width: 100%;

}
aside{
  width: 19%;
  padding-right: 20px;
  height: 100vw;
  position: static;
  top: 0;
}
.content-div{
  width: 83%;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.left-aside img{
  width: 1.8rem;
  height: 1.8rem;
}
.aside-left-ul li a{
  width: fit-content; 
}
.aside-left-ul li a span{
  font-size: 10px;
  margin-left: 0rem;
}
.aside-left-ul li i{
  font-size: 11px;
  width: 10px;
}
.aside-left-ul{
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.aside-left-btn{
  font-size: 10px;
  border: none;
  border-radius: 15px;
  padding: 7px;
  background-color:  #3994d0;
  color: white ;
}
.aside-left-btn:hover{
  background-color: #1A8CD8;
  cursor: pointer;
  transition: 0.5s;
}
.aside-left-ul li a{
  text-decoration: none;
  padding: 6px 4px;
  display: flex;
  gap: 10px;
  align-items: center; 
  color: white;
  border-radius: 20px;
}
.aside-left-ul{
  height: fit-content;
}
.aside-left-ul li span{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: block;
}
.aside-left-profile{
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 33px;
  align-items: center;
  padding: 5px 4px;
  width: 115px;
  border-radius: 20px;
}

.aside-left-profile img{
  width: 20px;
  height: 20px;
}
.aside-left-profile-p p{
  font-size: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.aside-left-profile i{
  font-size: 11px;
  color: white;
}
.aside-left-profile:hover{
  background-color: rgba(255, 255, 255, 0.075);
  cursor: pointer;
  transition: 0.5s;
}
.aside-left-ul li a:hover{
  background-color: rgba(255, 255, 255, 0.075);
  cursor: pointer;
  transition: 0.5s;
}



.section-main{
  display: flex;
  flex-direction: column;
  width: 50.5%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 0.1px solid rgba(220, 220, 220, 0.201);

}


.section-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  padding: 2px 10px;
  font-size: 11px;
  color: white;
}
.section-1 i{
  font-size: 0.5rem;
  padding: 3px;
  border-radius: 100px;
}
.section-1 i:hover{
  background-color: rgba(255, 255, 255, 0.09);
  cursor: pointer;
  transition: 0.5s;
}
.section-1 p{
  font-size: 8px; 
}
.section-1 span{
  font-size: 0.4rem;
  color: gainsboro;
}
.section-my{
  height: 28vh;
  object-fit: cover;
}
.section-2{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-2 img{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 1.7px solid black;
  position: relative;
  bottom: 28px;
  left: 6px;
}
.section-2 p{
  color: white;
  font-size: 0.5rem;
  margin-bottom: 5px;
  margin-right: 8px;
  padding: 5px 6px;
  border: 0.5px solid white;
  border-radius: 100px;

}
.section-3{
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 7.3vh;
  
}
.section-3 p{
  font-size: 0.6rem;
  margin-left: 5px;
  color: white;
  
}
.section-3 span{
  color: gainsboro;
}
.section-3-veri{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 19px;
  padding: 5px 7px;
  gap: 2px;
  border: 0.1px solid white;
  border-radius: 20px;
}
.section-3-veri img{
  width: 7px;
  height: 7px; 
}
.section-3-veri span{
  font-size: 0.5rem;
  color: white;

}
.section-4{
  height: 15vh;
  margin-left: 5px;

}
.section-4 h5{
  font-size: 0.8rem;
  color: gainsboro;
}
.section-4 i, .section-4 span{
  font-size: 0.5rem;
  color: gainsboro;
}
.section-4 p{
  margin-top: 5px;
  font-size: 0.6rem;
  color: gainsboro;
  
}
.section-4 b{
  font-size: 0.7rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.section-5 ul li a{
  text-decoration: none;
  font-size: 0.6rem;
  color: gainsboro;
  padding: 5px 10.8px;
  
}
.section-5 ul{
  display: flex;
  flex-direction: row;
  gap: 1px;
  justify-content: center;
  
}
.section-5{
  border-bottom: 0.1px solid rgba(220, 220, 220, 0.201);
  height: 6vh;
  
}
.section-5 ul li a:hover{
  background-color: rgba(255, 255, 255, 0.075);
  cursor: pointer;
  transition: 0.5s;
  box-shadow: inset 0px -1px 0px #3994d0;
}
.section-main hr{
  position: relative;
  top: 4px;
}
.section-3-veri:hover,.section-2 p:hover{
  background-color: rgba(255, 255, 255, 0.179);
  cursor: pointer;
  transition: 0.5s;
}
.section-main hr{
  color: rgba(220, 220, 220, 0.201);
  
}
.right-aside{
  width: 25%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.right-aside input{
   
}

.right-aside-input{
    background-image: url(./img/magnifying-glass\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: 3px center;
    border-radius: 20px;
    border: none;
    margin: 3px 3px;
    padding: 2px 0px;
    outline: none;
}
.right-aside-input::placeholder{
  font-size: 0.6rem;
  position: relative;
  bottom: 1px;
  left: 7px;
  color: gray;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.right-aside-input:hover{
  outline: none;
}
.right-aside-box {
  margin: 10px 3px;
  padding: 11px 6px;
  border: 0.1px solid rgba(220, 220, 220, 0.405);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.right-aside-box h2{
  font-size: 0.9rem;
  color: white;

}
.right-aside-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:4px;

}
.right-aside-1 img{
  width: 20px;
  height: 20;
}
.right-aside-1 section p{
  font-size: 0.5rem;
  cursor: pointer;
  color: white;
}
.right-aside-section p img{
  width: 7px;
  height: 7px;
  cursor: pointer;
 
}
.right-aside-1 button{
  font-size: 0.4rem;
  margin-left: auto;
  padding: 3px 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}
.right-aside-1 button:hover{
  background-color: rgba(255, 255, 255, 0.879);
  cursor: pointer;
  transition: 0.5s;
}
.right-aside-1 p:nth-child(1):hover{
  text-decoration: underline;
  transition: 0.5s;
}





