.cssTEXT{
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color:green;
  text-underline-offset: 4px;
  line-height: 2;
  text-align: justify;
  word-spacing: 20px;
  letter-spacing: 10px;
  text-transform: capitalize;
}

.cssTEXT p{
  text-indent: 100px;

}
.cssTEXT h1{
  -webkit-text-stroke: 2px black;
  color: red;
}