.list-type li{
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-bottom: 10px;
  list-style-position: inside;
  /* list-style-type: armenian; */
  /* list-style-type: circle; */
  /* list-style-type: decimal; */
  /* list-style-type: decimal-leading-zero; */
  /* list-style-type: disc; */
  list-style-type: symbols();


}
.list-type{
  padding: 0;
}